@import '../../styles/_variables.scss';

.movies-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
    background-color: $background-dark;
    color: $text-light;

    .movies-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 2rem;
        padding: 0 2rem;
    }

    .empty-cart {
        color: $text-light;
        text-align: center;
        margin-top: 2rem;

        i {
            font-size: 3rem;
            margin-bottom: 1rem;
        }

        p {
            margin: 0.5rem 0;

            a {
                color: $heart-color;
                text-decoration: none;
                transition: all $transition-speed $transition-ease;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .observer-element {
        width: 100%;
        height: 20px;
        margin-top: 2rem;
    }

    .loading,
    .error {
        text-align: center;
        padding: 2rem;
        color: $text-light;
        font-size: 1.1rem;
    }

    .error {
        color: $heart-color;
    }
}